@charset "utf-8";
* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body {
	scroll-behavior: smooth;
	font: 10pt/100% 'Noto Sans KR', sans-serif;background:black;
}
a {
	text-decoration: none;
	color: white;
	display: block;
}
img {
	display: block;
}
#layout {
	max-width: 500px;
	margin: auto;
	position: relative;
	color: white;
	overflow-y: hidden;
}

/*블랙배경 인트로*/
#blackbg{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: black;
	animation: fadein 2.5s ease;
	opacity: 0;
}
@keyframes fadein {
	from{
					opacity:0;
	}
	to{
					opacity:1;
	}
}
#blackbg > img {
	position: absolute;
	width: 90vw;
	left: 5vw;
	top: 25%;
}

/*메인*/
main{
	opacity: 1;
	animation: main 1s 3s both;
}
@keyframes main {
	from{
					opacity:0;
	}
	to{
					opacity:1;
	}
}
main > img {
	width: 80%;
	margin: auto;
	margin-top: 10vh;
}
#email {
	font-size: 2rem;
	margin-top: 3vh;
	text-align: center;
}
#email label {
	margin-left: 10vw;
}
#email input {
	width:5 0vw;
	background: transparent;
	border-bottom: 1px solid white;
}
#password  {
	font-size: 2rem;
	margin-top: 3vh;
	text-align: center;
}
#password input {
	width: 50vw;
	background: transparent;
	border-bottom: 1px solid white;
}
#login {
	font-size: 2.1rem;
	margin-top: 7vh;
	text-align: center;
	letter-spacing: 2px;
}
#non {
	margin-top: 5vh;
	text-align: center;
	font-size: 1.2rem;
	font-weight: lighter;
}
#join {
	margin-top: 1vh;
	text-align: center;
	font-size: 1.2rem;
	font-weight: lighter;
}